# set the udev rule , make the device_port be fixed by rplidar
#
SUBSYSTEM=="video4linux", ATTR{name}=="ZED: ZED", MODE:="0666", OWNER:="crp", SYMLINK+="video003"
